<script defer src="/game.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.min.js"></script>
<script defer src="/bgEffect.js"></script>
<div id="game" class="row container">
    <div class="col-4">
        <ul class="list-group">
            <% levels.forEach(level => { %>
                <% if (user.completedLevels.includes(level)) { %>
                    <a class="list-group-item list-group-item-success"><%- level %> </a>
                <% } else { %>
                    <a class="list-group-item list-group-item-action" href="/editor/<%= level %> "><%- level %> </a>
                <% } %> 
            <% }) %>
        </ul>
    </div>
    <div class="col-8">
        <h1>EDITOR</h1>

        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
          
        <div id="OK" class="alert alert-success d-flex align-items-center d-none" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                OK, Level dokončenný
            </div>
        </div>
        <div id="TLE" class="alert alert-warning d-flex align-items-center d-none" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Prekročený časový limit
        </div>
        </div>
        <div id="WA" class="alert alert-danger d-flex align-items-center d-none" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Zlá odpoveď
        </div>
        </div>
        <div id="EXC" class="alert alert-danger d-flex align-items-center d-none" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                Chyba počas behu programu
            </div>
        </div>

        <div class="visualizer">
            <div class="currentTime"></div>
            <div class="beats" id="beats">
                <!-- <div class="beat" style="left: 100px;"></div> -->
            </div>
        </div>
        <%- zadanie %>
        <button class="btn btn-primary" id="play">Zacat</button>
        <button class="btn btn-danger d-none" id="stop">Stop</button>
        <button class="btn btn-success d-none" id="submit">Submit</button>
        <div class="card">
            <pre><code class="language-python" id="code"></code></pre>
        </div>
    </div>
    <canvas id="c"></canvas>
</div>

<script>
    var levelData = <%- data %>;

    var upgrades = <%- JSON.stringify(user.upgrades) %>;
</script>

<style>
    .visualizer{
        height: 2rem;
        background-color: var(--secondary);
        margin: 0;
        box-sizing: content-box;
        position: relative;
        border: 1px solid black;
    }
    .row{
        margin: auto;
    }
    .currentTime {
        position: absolute;
        background-color: red;
        width: 3px;
        height: 120%;
        left: 64px;
        top: -10%;
    }
    .beat{
        height: 35px;
        width: 50px;
        background-color: blue;
        position: absolute;
    }
    .beats {
        position: relative;
        display: flex;

    }
    #c {
        position: fixed;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        opacity: 0.6;
        padding: 0;
    }
</style>