<script defer src="/game.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.min.js"></script>
<script defer src="/bgEffect.js"></script>
<div id="game" class="row container">
    <div class="col-4" id="level-select">
        <ul class="list-group">
            <% levels.forEach(level => { %>
                <% if (user.completedLevels.includes(level)) { %>
                    <a class="list-group-item list-group-item-success" tabindex="-1"><%- level %> </a>
                <% } else { %>
                    <a class="list-group-item list-group-item-action" href="/editor/<%= level %> " tabindex="-1"><%- level %> </a>
                <% } %> 
            <% }) %>
        </ul>
    </div>
    <div class="col-8" id="level">

        <%- include('alerts')  %> 
        <div>
            <%- zadanie %>
        </div>
        <hr>

        <div class="visualizer">
            <div class="currentTime"></div>
            <div class="beats" id="beats">
                <!-- <div class="beat" style="left: 100px;"></div> -->
            </div>
        </div>
        <button tabindex="-1" class="btn btn-primary" id="play">Zacat</button>
        <button tabindex="-1" class="btn btn-danger d-none" id="stop">Stop</button>
        <button tabindex="-1" class="btn btn-success d-none" id="submit">Submit</button>
        <div class="code">
            <pre><code class="language-python" id="code"></code></pre>
        </div>
    </div>
    <canvas id="c"></canvas>
</div>

<script>
    var levelData = <%- data %>;

    var upgrades = <%- JSON.stringify(user.upgrades) %>;
</script>

<style>
    .visualizer{
        height: 2rem;
        background-color: var(--secondary);
        margin: 0;
        box-sizing: content-box;
        position: relative;
        border: 1px solid black;
        overflow: hidden;
    }
    .row{
        margin: auto;
    }
    .currentTime {
        position: absolute;
        background-color: red;
        width: 3px;
        height: 120%;
        left: 64px;
        top: -10%;
    }
    .beat{
        height: 35px;
        width: 50px;
        background-color: blue;
        position: absolute;
    }
    .beats {
        position: relative;
        display: flex;

    }
    #c {
        position: fixed;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        opacity: 0.6;
        padding: 0;
    }
    .bi {
        height: 2rem;
        width: 2rem;
    }
    .cursor {
        width: 2px;
        height: 1rem;
        background-color: red;
        transform: translate(0, 3px);
        animation: cursor 1000ms alternate infinite;
        display: inline-block;
    }
    .code {
        margin: 0.3rem;
        padding: 0.1rem;
        border-radius: 20px;
    }
    @keyframes cursor {
        0%{
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>