<div class="container">
    <h1>Obchod</h1>
    
    <div class="row">
        <% for( let i = 0; i < upgrades.length; i++ ) { %>
            <div class="card col-4">
                <% if (upgrades[i].img) { %>
                    <img class="card-img-top" src="<%- upgrades[i].img %> " />
                <% } %>
                <h5 class="card-title"><%= upgrades[i].name %> </h5>
                <p class="card-body"><%= upgrades[i].description %> </p>
                <% if (upgrades[i].isPurchased) { %>
                    <form action="/shop/buy/<%= upgrades[i].id %> " method="post">
                        <% if (upgrades[i].cost > user.coins) { %>
                            <button type="submit" class="btn btn-secondary" disabled>
                                K칰pi콘 (<%- upgrades[i].cost %> 游뿣)
                            </button>    
                        <% } else { %>
                            <button type="submit" class="btn btn-primary">
                                K칰pi콘 (<%- upgrades[i].cost %> 游뿣)
                            </button>
                        <% } %> 
                    </form>
                <% } else { %>
                    <button disabled class="btn btn-success">
                        K칰pen칠
                    </button>
                <% } %> 
            </div>
        <% } %>
    </div>
    <hr class="m-2">
    <h2>Z칤skaj peniaze</h2>
    <form id="redeemform" class="form-inline">
        <div class="input-group">
            <input type="text" id="code" name="code" placeholder="Zadaj k칩d" class="form-control">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
    
    <script defer>
        const form = document.getElementById('redeemform')
        const coins = document.getElementById('coins')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            const formData = new FormData(form)
            fetch('/coins/redeem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    code: formData.get('code')
                })
            }).then(res=> {
                if(res.status == 400){
                    form.reset()
                    alert('Neplatn칳 k칩d: ' + formData.get('code'))
                    return
                }
                res.json().then((data)=> {
                    form.reset()
                    location.reload()
                })
            })
        })
    </script>
</div>